<mat-toolbar color="primary" class="app-header">
  <span class="dropdown">
    <select [(ngModel)]="selectedCity" (change)="selectCity($event)">
      <option *ngFor="let city of cityList" [value]="city.cityId" class="items">
        {{ city.city }}
      </option>
    </select>
  </span>
  <span class="triangle"> </span>
  <span>
    <img src="assets/movie.png" />
  </span>
</mat-toolbar>

<div class="theater screen">SCREEN THIS SIDE</div>

<div class="theater seats">
  <div class="seat-row" *ngFor="let row of theaterSeats" style="display: flex">
    <span class="row-label">{{ row.index }}</span>
    <div
      *ngFor="let column of row.columns"
      [appHighlight]="'green'"
      class="seat-booking-style"
      (click)="selectUnselect(row.index, column.index)"
    >
      {{ column.index }}
    </div>
  </div>
</div>
