<mat-toolbar color="primary" class="app-header">
  <span>
    <img src="assets/movie.png" />
  </span>
</mat-toolbar>
<br /><br /><br /><br /><br /><br /><br />

{{ selectedMovie | json }}

<mat-card class="first-card">
  <mat-card-conten>
    <div class="box-parent">
      <div class="box">PVR - Hyderabad</div>
      <div class="box with-border">10:12 AM</div>
      <div class="box with-border">10:12 AM</div>
      <div class="box with-border">10:12 AM</div>
    </div>
  </mat-card-conten>
</mat-card>

<mat-card class="first-card">
  <mat-card-conten>
    <div class="box-parent">
      <div class="box">PVR - Hyderabad</div>
      <div class="box with-border">10:12 AM</div>
      <div class="box with-border">10:12 AM</div>
      <div class="box with-border">10:12 AM</div>
    </div>
  </mat-card-conten>
</mat-card>

<mat-card class="first-card">
  <mat-card-conten>
    <div class="box-parent">
      <div class="box">PVR - Hyderabad</div>
      <div class="box with-border">10:12 AM</div>
      <div class="box with-border">10:12 AM</div>
      <div class="box with-border">10:12 AM</div>
    </div>
  </mat-card-conten>
</mat-card>
