<mat-toolbar color="primary" class="app-header">
  <span>
    <img src="assets/movie.png" alt="movie icon" />
  </span>
</mat-toolbar>
<br /><br /><br /><br /><br /><br /><br />

<div class="movie-title">
  {{ selectedMovie.title }}
</div>
<div class="movie-title small">
  {{ selectedMovie.language }}
</div>
<br /><br /><br />
<div *ngFor="let screeObj of screeningDetails.screenList">
  <mat-card class="first-card" *ngIf="screeObj.screens.length > 0">
    <mat-card-content>
      <div class="box-parent">
        <div class="screening-box">
          {{ screeObj.theatreName }}, {{ screeObj.city }},
        </div>
        <div
          *ngFor="let screen of screeObj.screens"
          class="screening-box with-border"
          (click)="
            showAvailability(screeObj.theatreName, screeObj.city, screen)
          "
        >
          {{ screen.time }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
