<mat-toolbar color="primary" class="app-header">
  <span>
    <img src="assets/movie.png" />
  </span>
</mat-toolbar>

<mat-card class="theatre-details">
  <mat-card-header>
    <mat-card-title
      >{{ selectedShow.title }}({{
        selectedShow.movieLanguage
      }})</mat-card-title
    >
    <mat-card-subtitle>{{
      selectedShow.selectedTime.showTime
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>{{ selectedShow.theatreName }}</button>
    <button mat-button>({{ selectedShow.cityName }})</button>
  </mat-card-actions>
</mat-card>

<div class="theater screen">SCREEN THIS SIDE</div>

<div class="theater seats">
  <div class="seat-row" *ngFor="let row of theaterSeats" style="display: flex">
    <span class="row-label">{{ row.label }}</span>
    <div
      *ngFor="let column of row.columns"
      [appHighlight]="'green'"
      class="seat-booking-style"
      (click)="selectUnselect(row.label, column)"
    >
      {{ column.label }}
    </div>
  </div>

  <div class="ticket-type">
    <!-- <mat-button-toggle-group class="no-border">
      <mat-button-toggle
        value="gold"
        class="small-width gold"
        (click)="updatePrice('GOLD')"
        >GOLD</mat-button-toggle
      >
      <mat-button-toggle
        value="silver"
        class="small-width silver"
        (click)="updatePrice('SILVER')"
        >SILVER</mat-button-toggle
      >
      <mat-button-toggle
        value="bronze"
        class="small-width bronze"
        (click)="updatePrice('BRONZE')"
        >BRONZE</mat-button-toggle
      > 
    </mat-button-toggle-group>
    -->
    <div>Price: {{ ticketPrice }}</div>
    <button class="button-18">Make Payment</button>
  </div>
  <div class="payble-amount">Total Payble amount: {{ totalPaybleAmount }}</div>
</div>
